@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@layer utilities {
  .Title1 {
    font-family: "Pretendard";
    font-size: 35px;
    font-weight: 900;
    line-height: 1.2;
  }
  .Title2 {
    font-family: "Pretendard";
    font-size: 30px;
    font-weight: 900;
    line-height: 1.25;
  }
  .Subtitle1 {
    font-family: "Pretendard";
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
  }
  .Subtitle2 {
    font-family: "Pretendard";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.35;
  }
  .Button1 {
    font-family: "Pretendard";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.35;
  }
  .Button2 {
    font-family: "Pretendard";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
  }
  .Body1 {
    font-family: "Pretendard";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
  }
  .Body2 {
    font-family: "Pretendard";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.65;
  }
}
